<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: #e7454a;
    }
    p hr {
      color: #2d2a24;
    }
  </style>
</head>
<body>

  <h3> <%= @student.name %> 様の休退塾申請フォームは無事に送信完了しました！</h3>
  <hr />
  <p>
    申請をいただきありがとうございました。
    こちらの申請を確認させていたきました後、受理の旨は再度事務局よりご連絡いたします。<br>
    引き続きどうぞ宜しくお願い申し上げます。
  </p>
  <p>
     JPREP休退塾届管理事務局<br />
  </p>
  <hr />
</body>
</html>

