.container{
  text-align: center;
}

.title{
  color: white;
}

.table{
  text-align: center;
}

form{
  background-color:#005FFF;

  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 20px 90px 90px 90px;
}

form.submit{
  color:red;
}

