.container{
text-align: center;
}

.label{
  color: white;
  text-align: right;
  font-style: HiraKakuPro-W6;
  font-size: 15px;
}

.field{
  text-align: left;
}

.table{
  text-align: center;
}

form{
  background-color:#005FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;

}



